{% extends 'base_page.html' %}
{% block content %}
    <div class="title">
        <h1 id = 'snow-sensei-title'>Snow Sensei 課程資訊</h1>
        <h3 id = 'team'><a href="#" class="a-team">Team</a></h3>
    </div>
    <section class = 'container'>
        <div class = 'card'>
            <div class="img1 card-image"></div>
            <h2>Title</h2>
            <ul>
                <li class="unlisted-item"></li>
                <li class="unlisted-item"></li>
                <li class="unlisted-item"></li>
            </ul>
            <a href = '#'>READ MORE</a>
        </div>

        </div>
        <div class = 'card'>
            <div class="img2 card-image"></div>
            <h2>Title</h2>
            <ul>
                <li class="unlisted-item"></li>
                <li class="unlisted-item"></li>
                <li class="unlisted-item"></li>
            </ul>
            <a href = '#'>READ MORE</a>
        </div>
        <div class = 'card'>
            <div class="img3 card-image"></div>
            <h2>Title</h2>
            <ul>
                <li class="unlisted-item"></li>
                <li class="unlisted-item"></li>
                <li class="unlisted-item"></li>
            </ul>
            <a href = '#'>READ MORE</a>
        </div>
    </section>
{% endblock%}