{% extends 'base_page.html' %}
{% block content %}
    <div class="title">
        <h1 id = 'snow-sensei-title'>Snow Sensei 課程資訊</h1>
    </div>
    <section class = 'container'>
        <div class = 'card'>
            <div class="card-image img1"></div>
            <h2>Title</h2>
            <ul>
                <li class="unlisted-item"></li>
                <li class="unlisted-item"></li>
                <li class="unlisted-item"></li>
            </ul>
            <a href = '#'>READ MORE</a>
        </div>

        </div>
        <div class = 'card'>
            <div class="card-image img2"></div>
            <h2>Title</h2>
            <ul>
                <li class="unlisted-item"></li>
                <li class="unlisted-item"></li>
                <li class="unlisted-item"></li>
            </ul>
            <a href = '#'>READ MORE</a>
        </div>
        <div class = 'card'>
            <div class="card-image img3"></div>
            <h2>Title</h2>
            <ul>
                <li class="unlisted-item"></li>
                <li class="unlisted-item"></li>
                <li class="unlisted-item"></li>
            </ul>
            <a href = '#'>READ MORE</a>
        </div>
    </section>
{% endblock%}